#EditFooditem
{
    display: flex;
    flex-direction: column;
    background-color: white;
    position:absolute;
    width: 26%;
    height: 77%;
    top:12%;
    left: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
}
#editfoodsubmit
{
    top:490px;
    left: -25px;
    height: 40px;
    padding: 0px;
    font-size: 20px;
    width: 355px;
    border: none;
    background-color: rgba(239,79,95,1);
    color: white;
    font-size: 16px;
    position: absolute;
    border-radius: 7px;
}