.UserLoginBack
{
    position: absolute;
    height:540px;
    overflow-y: scroll;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    width: 900px;
    left:275px;
    border-radius: 20px;
    top:20px;
    padding-top: 80px;
}
.UserLoginButton
{
    position: absolute;
    top:20px;
    left:10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.ShowFoodUsrB,.ShowResUsrB,.ShowOrderUsrB
{
    border: none;
    outline: none;
    background-color:  rgba(239,79,95,1);
    width: 200px;
    font-size: 20px;
    height: 40px;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;

}
.Home
{
    position: absolute;
    height: 30px;
    top:42px;
    left:170px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius: 10px;
}
.Home:hover
{
    cursor: pointer;
}
.Logout
{
    position: absolute;
    height: 30px;
    top:90px;
    left:170px;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 5px;
    border-radius: 10px;
}
.Logout:hover
{
    cursor: pointer;
}
#nrp
{
    font-size: 25px;
    top:145px;
    position: absolute;
    left:70px;
}