.UserQuizResult
{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
    left: 10%;
    height: 390px;
    top:16%;
    border-radius: 40px;
    overflow-y: scroll;
    padding-bottom: 30px;
    padding-top: 50px;
    
}
.resele
{
    margin-bottom: 50px;
    padding: 30px;
    width: 70%;
    left:10%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(75  , 0, 130, 1);
    border-radius: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}