::placeholder{
    color: rgba(255, 255, 255, 1);
    font-size: 15px;

}

#signupform
{
    display: flex;
    flex-direction: column;
}
#SignUp
{
  position: absolute;
  height: 300px;
  width: 300px;
  left: 830px;
  top:80px;
  width: 400px;
  height: 450px;
}
#signupname,#signupphone,#signupquestion,#signupanswer,#signuppassword,#signuprepassword
{
    background-color: rgba(75,0,130,0.6);
    color: rgba(255, 255, 255, 1);
    border: none;
    outline: none;
    height: 40px;
    width: 250px;
    position: absolute;
    left: 75px;
    border-radius: 100px;
    text-align: center;
    font-size: 17px;
    top:110px;
}
#signupphone
{
    top:160px;
}
#signupquestion
{
    top:210px;
}
#signupanswer
{
    top:260px;
}
#signuppassword
{
    top:310px;
}
#signuprepassword
{
    top:360px;
}

#signupsubmit
{
    position: absolute;
    border: none;
    outline: none;
    background-color: rgba(75,0,130,1);
    height: 30px;
    width: 150px;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
    top:410px;
    left:125px;

}
#signupsubmit:hover
{
  cursor: pointer;
}
.SignupHeader
{
  border-bottom: 1px solid rgba(75,0,130,1);
  color: rgba(75,0,130,1);
  font-size: 25px;
  width: 300px;
  padding-bottom:10px;
  text-align: center;
  position: absolute;
  font-weight: 100;
  top:0px;
  left:50px;
}

.Return:hover
{
  cursor: pointer;
}
.SF
{
  color: red;
  position: absolute;
  top:60px;
  width: 200px;
  height: 25px;
  left: 100px;
  text-align: center;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.SignupReturn
{
    position: absolute;
    height: 30px;
    top:8px;
    right: 8px;
}